# Example env for Zitadel (talos-cloud-00).
# Copy to .env and update values.
MASTER_DIR=/mnt/docker-data/zitadel

# Container variables
ZITADEL_MASTERKEY={ZITADEL_MASTERKEY}
ZITADEL_DOMAIN=idp.mcb-homelab.com
ZITADEL_DATABASE_POSTGRES_DSN=postgresql://zitadel-admin:{ZITADEL_DB_PASSWORD}@pgbouncer:5432/zitadel?sslmode=disable
ZITADEL_PUBLIC_SCHEME=https
ZITADEL_EXTERNALPORT=443
ZITADEL_EXTERNALSECURE=true
ZITADEL_ACCESS_LOG_STDOUT_ENABLED=true
ZITADEL_CACHES_CONNECTORS_REDIS_ENABLED=true
ZITADEL_CACHES_CONNECTORS_REDIS_URL=redis://default:{REDIS_PASSWORD}@dragonflydb-internal:6379
ZITADEL_CACHES_INSTANCE_CONNECTOR=redis
ZITADEL_CACHES_MILESTONES_CONNECTOR=redis
ZITADEL_CACHES_ORGANIZATION_CONNECTOR=redis
LOGIN_CLIENT_PAT_EXPIRATION=2099-01-01T00:00:00Z

# First instance admin user credentials
ZITADEL_FIRSTINSTANCE_ORG_NAME=ZITADEL
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME=zitadel-admin
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_EMAIL_ADDRESS=zitadel-admin@idp.mcb-homelab.com
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_FIRSTNAME=ZITADEL
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_LASTNAME=Admin
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD={ZITADEL_ADMIN_PASSWORD}
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORDCHANGEREQUIRED=false

# Zitadel version
ZITADEL_VERSION=v4.15.3