services:
  ubuntu:
    image: "ubuntu/nginx:1.24-24.04_beta"
    networks:
      - traefik-internetwork
      - db-internetwork
      - monitoring-internetwork
    secrets:
      - source: cloudflare-cert
        target: /mnt/cloudflare-cert.pem
      - source: cloudflare-key
        target: /mnt/cloudflare-key.pem
      - source: cloudflare-ca-cert
        target: /mnt/cloudflare-origin-ca.pem
      - source: azure-root-ca
        target: /mnt/azure-root-ca.pem
    volumes:
      - ubuntu-data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/volumes:/mnt/docker/volumes:rw
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          memory: "1G"
          cpus: "0.75"
        reservations:
          memory: "128M"
          cpus: "0.25"
      update_config:
        parallelism: 1
        delay: 5s
        failure_action: rollback
        max_failure_ratio: 0.5

networks:
  traefik-internetwork:
    external: true
  db-internetwork:
    external: true
  monitoring-internetwork:
    external: true

secrets:
  cloudflare-cert:
    external: true
  cloudflare-key:
    external: true
  cloudflare-ca-cert:
    external: true
  azure-root-ca:
    external: true

volumes:
  ubuntu-data:
    driver: local
    driver_opts:
      type: none
      device: /mnt/seaweedfs/mount/bastion-hosts/ubuntu
      o: bind
