services:
  agent:
    image: portainer/agent:${IMAGE_TAG}
    environment:
      AGENT_CLUSTER_ADDR: tasks.agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /:/host
    networks:
      - traefik-internetwork
    deploy:
      mode: global
      placement:
        constraints:
          - node.platform.os == linux

  portainer:
    image: portainer/portainer-ee:${IMAGE_TAG}
    command: -H tcp://tasks.agent:9001 --tlsskipverify
    networks:
      - traefik-internetwork
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
    deploy:
      restart_policy:
        condition: any
      update_config:
        parallelism: 1
        delay: 5s
        failure_action: rollback
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager

volumes:
  portainer-data:
    driver: local

networks:
  traefik-internetwork:
    external: true
