apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: operator-oauth-eso
  namespace: tailscale
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: operator-oauth
    creationPolicy: Owner
  data:
    - secretKey: client_id
      remoteRef:
        key: tailscale-oidc-auth
        property: client_id
    - secretKey: client_secret
      remoteRef:
        key: tailscale-oidc-auth
        property: client_secret

