services:
  app:
    image: ghcr.io/pocket-id/pocket-id:${INSTANCE_IMAGE_TAG}
    volumes:
      - pocket-id-data:/app/data
    secrets:
      - maxmind_geoip_key
    networks:
      traefik-internetwork:
        aliases:
          - pocketid
      db-internetwork: {}
    environment:
      APP_URL: ${APP_URL}
      MAXMIND_LICENSE_KEY_FILE: "/run/secrets/maxmind_geoip_key"
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      DB_CONNECTION_STRING: ${DB_CONNECTION_STRING}
      TRUST_PROXY: "true"
      # Environment variables for S3 file storage
      FILE_BACKEND: "s3"
      S3_REGION: ${S3_REGION}
      S3_BUCKET: ${S3_BUCKET}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_FORCE_PATH_STYLE: "true"
      S3_DISABLE_DEFAULT_INTEGRITY_CHECKS: "true"
      UPLOAD_PATH: "docker/pocketid/assets"
      # Internal settings
      INTERNAL_APP_URL: "http://pocketid"
      LOG_LEVEL: "error"
      LOG_JSON: "true"
      
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.codename == ${SWARM_NODE_CODENAME}
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "1"
          memory: "1G"
        reservations:
          cpus: "0.25"
          memory: "125M"
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s

  backup-pocket-db:
    image: eeshugerman/postgres-backup-s3:16
    networks:
      - traefik-internetwork
      - db-internetwork
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure   
    environment:
      SCHEDULE: '@hourly'     # optional
      BACKUP_KEEP_DAYS: 7     # optional
      S3_REGION: ${S3_REGION}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_BUCKET: ${S3_BUCKET}
      S3_PREFIX: "Databases/pocketid"
      S3_ENDPOINT: ${S3_ENDPOINT}
      POSTGRES_HOST: ${PG_HOST}
      POSTGRES_DATABASE: ${PG_DB}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}

networks:
  traefik-internetwork:
    external: true
  db-internetwork:
    external: true

volumes:
  pocket-id-data:
    driver: local

secrets:
  maxmind_geoip_key:
    external: true
