services:
  outpost:
    image: ghcr.io/goauthentik/proxy:${AUTHENTIK_TAG:-2025.4.1}
    secrets:
      - authentik-outpost-token
    environment:
      AUTHENTIK_HOST: http://authentik-server:9000
      AUTHENTIK_HOST_BROWSER: https://${AUTHENTIK_PUBLIC_URL}
      AUTHENTIK_INSECURE: "false"
      AUTHENTIK_TOKEN: "file:///run/secrets/authentik-outpost-token"
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      AUTHENTIK_POSTGRESQL__HOST: ${PG_HOST}
      AUTHENTIK_POSTGRESQL__USER: ${PG_USER:-authentik}
      AUTHENTIK_POSTGRESQL__NAME: ${PG_DB:-authentik}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
      AUTHENTIK_POSTGRESQL__CONN_MAX_AGE: ${PG_CONN_MAX:-60}
      AUTHENTIK_POSTGRESQL__CONN_HEALTH_CHECKS: "true"
      AUTHENTIK_POSTGRESQL__DISABLE_SERVER_SIDE_CURSORS: "true"
    networks:
      traefik-internetwork: {}
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      update_config:
        parallelism: 1
        delay: 5s
        failure_action: rollback
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.platform.os == linux
          - node.role == manager

networks:
  traefik-internetwork:
    external: true
  db-internetwork:
    external: true

secrets:
  authentik-outpost-token:
    external: true
