replicaCount: 1

nodeSelector:
  node-role.kubernetes.io/master: "true"

tolerations:
- key: "CriticalAddonsOnly"
  value: "true"
  operator: "Equal"
  effect: "NoExecute"

additionalEnv:
  - name: LEADER_ELECTION_LEASE_DURATION
    value: "60s"
  - name: LEADER_ELECTION_RENEW_DEADLINE
    value: "45s"
  - name: LEADER_ELECTION_RETRY_PERIOD
    value: "15s"
  - name: KUBERNETES_REQUEST_TIMEOUT
    value: "60s"
  - name: KUBERNETES_REQUEST_QPS
    value: "20"
  - name: KUBERNETES_REQUEST_BURST
    value: "40"

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 1
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - cloudnative-pg
          topologyKey: kubernetes.io/hostname
