services:
  backup-authentik:
    image: eeshugerman/postgres-backup-s3:16
    networks:
      - traefik-internetwork
      - db-internetwork
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure   
    environment:
      SCHEDULE: '@hourly'     # optional
      BACKUP_KEEP_DAYS: 7     # optional
      S3_REGION: ${S3_REGION}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_BUCKET: ${S3_BUCKET}
      S3_PREFIX: ${S3_PREFIX}
      POSTGRES_HOST: ${PG_HOST:-postgresql-master}
      POSTGRES_DATABASE: ${PG_DB:-authentik}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      S3_ENDPOINT: ${S3_ENDPOINT}

networks:
  db-internetwork:
    external: true
  traefik-internetwork:
    external: true
