services:
  ubuntu:
    image: "ubuntu/nginx:1.24-24.04_beta"
    networks:
      - traefik-internetwork
      - db-internetwork
    volumes:
      - ubuntu-data:/var
      - ubuntu-packages:/usr
      - /var/run/docker.sock:/var/run/docker.sock:ro
    deploy:
      mode: global
      resources:
        limits:
          memory: "1G"
          cpus: "0.75"
        reservations:
          memory: "128M"
          cpus: "0.25"
      update_config:
        parallelism: 1
        delay: 5s
        failure_action: rollback
        max_failure_ratio: 0.5
      placement:
        constraints:
          - node.platform.os == linux

networks:
  traefik-internetwork:
    external: true
  db-internetwork:
    external: true

volumes:
  ubuntu-data:
    driver: local
  ubuntu-packages:
    driver: local
