services:
  traefik:
    image: traefik:${IMAGE_TAG}
    networks:
      - traefik-internetwork
    ports:
      - 80:80
      - 443:443
      - published: 8088
        target: 8088
        mode: host
      - published: 9000
        target: 9000
        mode: host
      - published: 7080
        target: 7080
        mode: host
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.codename == ${SWARM_NODE_CODENAME}
      resources:
        limits:
          cpus: "0.5"
          memory: "256M"
        reservations:
          cpus: "0.25"  
          memory: "64M"
      update_config:
        parallelism: 1
        delay: 5s
        failure_action: rollback
        max_failure_ratio: 0.5
      restart_policy:
        condition: any

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${MASTER_DATA_FOLDER}/traefik/acme:/acme
      - ${MASTER_DATA_FOLDER}/traefik/logs:/logs
      - ${MASTER_DATA_FOLDER}/traefik/dynamic:/etc/traefik/dynamic
      - ${MASTER_DATA_FOLDER}/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ${MASTER_DATA_FOLDER}/traefik/.default-user.txt:/etc/traefik/default-user.txt:ro
    environment:
      - CF_API_EMAIL=${CF_API_EMAIL}
      - CF_API_KEY=${CF_API_KEY}
    
  whoami:
    image: "traefik/whoami"
    networks:
      - traefik-internetwork
    deploy:
      mode: global
      update_config:
        parallelism: 1
        delay: 5s
        failure_action: rollback
      restart_policy:
        condition: any
      placement:
        constraints:
          - node.platform.os == linux
      
networks:
  traefik-internetwork:
    external: true
