namespaceOverride: argocd-system

crds:
  install: true
  keep: true

global:
  domain: argocd.mcb-svc.work
  networkPolicy:
    create: true
  nodeSelector:
    node.kubernetes.io/worker: "true"
    topology.kubernetes.io/region: "sg-prod-01"

redis:
  enabled: false
externalRedis:
  enabled: true
  host: "vn2.mcb-svc.work"
  port: 6379
  existingSecret: redis-auth-secret-eso

server:
  ingress:
    enabled: true
    controller: generic
    ingressClassName: traefik
    tls: true
    annotations:
      cert-manager.io/cluster-issuer: "cloudflare-clusterissuer"
      traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      traefik.ingress.kubernetes.io/router.tls: "true"

configs:
  cm:
    exec.enabled: true
    statusbadge.enabled: true
    dex.config: |
      connectors:
      - config:
          issuer: "https://auth.mcb-svc.work/application/o/argocd/"
          clientID: "9vf7DhzucXF7ioTItcvFqlNwBGraajx67pPSG6QY"
          clientSecret: "$dex.authentik.clientSecret"
          insecureEnableGroups: true
          scopes:
          - openid
          - profile
          - email
        name: authentik
        type: oidc
        id: authentik
  params:
    server.insecure: true
  rbac:
    policy.default: role:readonly
    policy.csv: |
      g, homelab, role:admin
    scopes: '[groups]'

