version: "3.9"

services:
  management:
    image: netbirdio/management:latest
    depends_on:
      - dashboard
    command: [
      "--port", "33073",
      "--log-file", "console",
      "--log-level", "info",
      "--disable-anonymous-metrics=true",
      "--single-account-mode-domain=$NETBIRD_DOMAIN",
      "--dns-domain=$NETBIRD_DOMAIN"
      ]
    networks:
      - mesh-internetwork
      - traefik-internetwork
    configs:
      - source: management-config-json
        target: /etc/netbird/management.json
    environment:
      # DB backend
      - NETBIRD_STORE_CONFIG_ENGINE=postgres
      - NETBIRD_STORE_ENGINE_POSTGRES_DSN=${NETBIRD_STORE_ENGINE_POSTGRES_DSN}
      
      # OIDC (Authentik integration)
      - NETBIRD_AUTH_OIDC_ISSUER=${NETBIRD_AUTH_OIDC_ISSUER}
      - NETBIRD_AUTH_OIDC_CLIENT_ID=${NETBIRD_AUTH_OIDC_CLIENT_ID}
      - NETBIRD_AUTH_OIDC_CLIENT_SECRET=${NETBIRD_AUTH_OIDC_CLIENT_SECRET}
      - NETBIRD_AUTH_OIDC_REDIRECT_URL=https://api.${NETBIRD_DOMAIN}
    deploy:
      replicas: 1
      placement:
        constraints: [node.labels.type == constructor]
      labels:
        - "traefik.enable=true"
        # gRPC Management API
        - "traefik.http.routers.netbird-mgmt.rule=Host(`api.${NETBIRD_DOMAIN}`)"
        - "traefik.http.routers.netbird-mgmt.entrypoints=websecure"
        - "traefik.http.routers.netbird-mgmt.tls=true"
        - "traefik.http.routers.netbird-mgmt.tls.domains[0].main=${NETBIRD_DOMAIN}"
        - "traefik.http.routers.netbird-mgmt.tls.domains[0].sans=*.${NETBIRD_DOMAIN}"
        - "traefik.http.routers.netbird-mgmt.tls.certresolver=letsencrypt"
        - "traefik.http.services.netbird-mgmt.loadbalancer.server.port=33073"

  signal:
    image: netbirdio/signal:latest
    networks:
      - mesh-internetwork
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
    ports:
      - "10000:10000/udp"

  dashboard:
    image: netbirdio/dashboard:latest
    networks:
      - mesh-internetwork
      - traefik-internetwork
    environment:
      - NETBIRD_MANAGEMENT_URL=https://api.${NETBIRD_DOMAIN}
    deploy:
      replicas: 1
      placement:
        constraints: [node.labels.type == constructor]
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.netbird-dashboard.rule=Host(`dashboard.${NETBIRD_DOMAIN}`)"
        - "traefik.http.routers.netbird-dashboard.entrypoints=websecure"
        - "traefik.http.routers.netbird-dashboard.tls=true"
        - "traefik.http.routers.netbird-dashboard.tls.domains[0].main=${NETBIRD_DOMAIN}"
        - "traefik.http.routers.netbird-dashboard.tls.domains[0].sans=*.${NETBIRD_DOMAIN}"
        - "traefik.http.routers.netbird-dashboard.tls.certresolver=letsencrypt"
        - "traefik.http.services.netbird-dashboard.loadbalancer.server.port=80"

networks:
  mesh-internetwork:
    external: true
  traefik-internetwork:
    external: true

configs:
  management-config-json:
    external: true
